.productdisplay{
    display: flex;
    margin: 0 150px;
}

.productdisplay-left{
    display: flex;
    gap: 15px;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img{
    height: 105px;
}

.productdisplay-main-img{
    width: 402px;
    height: 460px;
}

.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}

.productdisplay-right-star{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;

}

.productdisplay-right-prices{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new{
    color: #ff4141;
}

.productdisplay-right-description{
    font-size: 18px;
    font-weight: 450;
}

.productdisplay-right-size{
    display: flex;
    gap: 23px;
    align-items: center;
    margin: 20px 0px;
}

.productdisplay-right-size div{
    padding: 14px 20px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right-selectsize button{
    padding:16px 34px;
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background:#ff4141;
    margin: 30px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category span{
    font-weight: 600;
}