.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}

.nav-profile{
    width: 70px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap:10px;
}

.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
    margin-left: -10px;
}

.nav-logo img{
    width: 100px;
    height: 60px;
}

.nav_right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_right button{
    padding: 15px 30px;
    background-color: rgb(76, 76, 236);
    color: white;
    font-size: 1.5rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}